@import '../../StyleGuides/variables';

.projects {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    margin: 80px;
    width: 300px;
    border-bottom: 4px solid $orange-1;
    padding-bottom: 10px;
    text-align: center;
  }

  .project {
    width: 300px;
    height: 480px;
    background-color: red;
    border: solid 1px blue;
  }

  .projects-grid {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .pagination {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
  }
}
@media screen and (max-width: 760px) {
  .projects {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, 300px);
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 680px) {
  .projects {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, 500px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, 600px);
      gap: 30px;
    }
  }
}
