@import './StyleGuides/resets';
@import './StyleGuides/variables';
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: $text-primary;
  background: #1d1d1d;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
