@import "./variables";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 125px;
  width: 125px;
  height: 18px;
  text-decoration: none;
  margin-top: 25px;
  letter-spacing: 4px;
  padding: 10px 18px;
}
.btn-primary {
  font-weight: 500;
  font-size: 13px;
  border: 1px solid $pink-2;
  color: $pink-2;

  &:hover {
    background-color: $pink-2;
    color: $text-primary;
    transition: ease 300ms;
  }
}
