@import '../../../StyleGuides/variables';

.main-btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    width: 80%;
    height: 100%;
    position: absolute;
    transform: skewX(-35deg);
    z-index: -1;
  }
}

.main-btn-primary--btn {
  width: 300px;
  color: #1d1d1d;
  &::after {
    background-color: $orange-1;
  }

  &:hover::after {
    background-color: #fff;
  }
}

.main-btn-secondary--btn {
  color: $orange-1;
  width: 300px;
  margin: 10px;
  &::after {
    border: 1px solid $orange-1;
  }

  &:hover::after {
    border: 1px solid rgba($color: #fff, $alpha: 1);
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}
