//screen
$small: 600px;
$medium: 768px;
$large: 1200px;

$text-primary: rgba(#fff, 0.9);
$text-secondary: #747474;
$bg-primary: #23232e;
$bg-secondary: #141418;
$bg-teritary: #181818;
$transition-speed: 600ms;

// fluresent lights

$blue-1: #006fff;
$blue-2: #44fdd9;
$blue-2: #ffbf00;
$green-1: #68ff00;
$orange-1: #ffbf00;
$yellow-1: #faff00;
$pink-2: #ff005d;
