@import '../../StyleGuides/variables';
.about {
  display: flex;
  flex-direction: row;
  .person {
    width: 100%;
  }

  .text {
    .top {
      p {
        font-size: calc(1rem + 0.3vw);
        text-align: left;
        text-justify: inter-word;
        letter-spacing: 0.12ch;
        margin: 0.4rem 0;
      }
      h1 {
        margin: 1.2rem 0;
        padding: 0;
        font-size: calc(1.4rem + 2vw);
        color: $blue-2;
      }
    }

    .timeline {
      padding: 1rem 0;

      .timeline__element {
        padding-top: 0.4rem;
        .timeline_title {
          font-size: calc(1.2rem + 0.2vw);
          padding-top: 0.5rem;
          color: $blue-2;
        }
        span {
          display: block;
          padding-top: 0.3rem;
          margin: 0.2rem 0 1rem 0;

          font-size: calc(0.9rem + 0.1vw);
          color: rgba($color: $orange-1, $alpha: 0.8);
        }
        h1 {
          font-size: calc(1rem + 0.2vw);
          font-weight: 600;
          margin: 0.5rem 0;
        }
        h2 {
          font-size: calc(1rem + 0.2vw);
          font-weight: 400;
          color: rgba($color: #fff, $alpha: 0.5);
        }
      }
    }
  }
}

@media screen and (max-width: $small) {
  .about {
    flex-direction: column;
    .text {
      width: 100%;
    }
    .animation {
      display: none;
    }
  }
}

@media screen and (min-width: $small) {
  .timeline {
    padding: 1rem;
    .timeline__element {
      .timeline_title {
        font-size: calc(1rem + 0.2vw);
        color: $blue-2;
      }
      span {
        font-size: calc(0.85rem + 0.1vw);
        color: rgba($color: $orange-1, $alpha: 0.8);
      }
      h1 {
        font-size: calc(1rem + 0.2vw);
        font-weight: 600;
        margin: 0 0.3rem;
      }
      h2 {
        font-size: 0.9rem;
        font-weight: 400;
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
  }

  .text {
    width: 38vw;
  }
  .animation {
    width: 45vw;
  }
}
@media screen and (min-width: $small) and (max-width: $large) {
  .text {
    width: 43vw;
  }
  .animation {
    width: 35vw;
  }
}
